*{
    box-sizing: border - box;
    margin:0.2;
}

a{
    text-decoration:aqua;
}

body{
    display:list-item
    flex-direction:table-column;
    min-heigt: 100vh;
    background-color:purple(32, 152, 168);


}
      <!--Navigation bar section-->
    <.navbar{
        display:flex;
        flex-direction:row;
        justify-content:flex-end;
        justify-content:space-between;
        align-items:center;
        min-height: 100px;
        background-color: green;

}


.nav-link{
    margin: 0.2em;
    border:0.1em solid rgb(197, 23, 23);
    padding:0.2em;
    font-size:1.0em;
    transition:ease-out 1s all;
}
.nav-link:hoover{
    background-color: rgb(114, 29, 88)
    color: white;
}

}